{% include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">Tech Enthusiast | Fitness Freak</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Hey there, I am Skanda, a proactive tech enthu placed in Bangalore, Karnataka, India. Proud to do
                    this random uploads. I am too much into tech, fitness, motorbikes and ofcourse teaching my mates
                    everything that I know and I am proud of. </p>
                <p>Currently pursuing my masters in computer applications at a not so renowned college, I won't regret
                    my own decisions. I love spending majority of my time in front of my laptop fiddling with new
                    tech.</p>
                <p> Best past time for me is to roam around the city with my homies, having street food almost every
                    single day and going on long rides over the weekend such to have a peaceful start for the upcoming
                    week. </p>
            </div>
        </div>
    </div>
</main>
{% include "footer.html" %}
